$fontSize: 1.2rem;

.flex-prop{
    display:flex;
    width:100%;
    flex-direction: column;
    // justify-content: center;
    align-items: center; 
    // border: 2px solid red;

}
.preview{
    
    @extend .flex-prop;
    // background-color: grey;

    p{
        margin:2px 0;
    }
    
}
.name-prev{
    font-size: 2rem;
}
.email-git{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .git-div{
        width:50%;
    }
}

.sh-butt-prev{
    background-color: #0ea5e9;
    width: 250px;
    height:50px;
    font-size: $fontSize;

    &:hover{
        background-color: #088cc9;
    }
}

.preview-content{
    display:flex;
    flex-direction: column;
    width:90%;
    background-color: lightblue;
    margin-top: 20px;
    padding: 0 25px;
}

.preview-general{
    background-color: lightblue;
}

.preview-education{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    .dates{
        justify-content: flex-start;
    }
    .degree-school{
        width: 50%;
    }
}

.preview-practical{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .work-right{
        width: 50%;
    }
}
.editButt{
    font-weight: bolder;
}