$fontSize: 1.2rem;

.flex-prop{
    display:flex;
    width:100%;
    flex-direction: column;
    // justify-content: center;
    align-items: center; 
    // border: 2px solid red;

}
.preview{
    
    @extend .flex-prop;
    // background-color: grey;

    p{
        margin:2px 0;
    } 
}

.sh-butt-prev{
    background-color: #22c55e;
    width: 250px;
    height:50px;
    font-size: $fontSize;
}

.preview-content{
    width:90%;
}

.preview-general{
    background-color: lightblue;
}
// , .preview-general, .preview-education, .preview-practical